.ep-autosuggest .autosuggest-list{
    padding:0 5px;
}
.ep-autosuggest .autosuggest-list .autosuggest-item *{
    vertical-align:top;
}
.ep-autosuggest .autosuggest-list .autosuggest-item{
    clear:both;
}
.ep-autosuggest .autosuggest-list .autosuggest-item img{
    float:left;
    margin-right:10px
}

.ep-autosuggest .autosuggest-list .autosuggest-item a{
    overflow:hidden;
    padding:10px 0 !important;
    line-height:1em;
}